:root {
    --dusty-rose: #eaa9a9;
    --pastel-cyan: #bbe2e3;
    --warm-white: #f6f6f0;
    --gold-ochre: #d2d09d;
    --black-shade: #090808;
}

* {
    font-family: var(--font-family);
    color: var(--black-shade);
    max-width: 900px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 11% 89%;
    padding: 0;
    background-color: var(--dusty-rose); 
}
body {background-color: var(--pastel-cyan);}