* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --secondary-color: #053229;
    --accent-color:#d0d6B5;
    --accent-color2:#Fdc1b4;
    font-family: "Libre Baskerville", serif;
}



body {
    background-color: var(--accent-color2);
    max-width: 100%;
}

header {
    margin-bottom: 10px;
    max-width: 100%;
    margin-top: 10px;
}

h1 {
    font-size: 1.9rem;
    text-align: center;
    max-width: 100%;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    padding-left: 20px;
    height: 75px;
    padding-top: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100vw;
    height: 100vh;
}

.grid-item {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

main {

    justify-content: center;
    align-items: center;
}

.hero {

    max-width: 100%;
}



#card1 {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: var(--accent-color2);

}

.data-box-1>a {
    text-align: right;
    padding: 0 20px;

}

.more-content {
    display: none;
}

#card2 {
    position: absolute;
    top: 230px;
    right: 10px;
    background-color: var(--accent-color2);

}


.data-title-arizona,
.data-title-weather {
    background-color: var(--accent-color);
    position: relative;
    width: 200px;
    top: -10px;
    left: -10px;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0 1px 5px var(--secondary-color);
    padding-top:5px;

}

h3 {
    color: #fff;
}


.row {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    padding: 0 20px;


}


.col1 {

    padding: 0.2rem;
    font-family: var(--);

    text-align: right;


}

.col2 {

    padding: 0.2rem;
    font-weight: normal;
}

picture {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}


footer {
  background: var(--accent-color2);
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 10px;

}