@media (min-width: 801px) {

  #menu {
    display: none;
  }

  .logo {
    display: block;
  }

  .page-header.menu-open .logo {
    display: block;
  }

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: block;
    position: static;
    width: auto;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .nav-list li {
    display: block;
  }

  .page-header.menu-open .nav-list {
    display: flex;
    flex-direction: row;
  }
}

